// main colour schema
$color_primary: #e7820b;
// $colour_primary: #87674a;
$color_secondary: #dcccb3;
// $colour_primary: #11cccf;
// $colour_primary: #3a2114;


// menu links
$active_link_color: darken($color_primary, 20);
