
<div class='about-container'>
    <div class='title'>
        <h4>About SHiFT Redeemer</h4>
    </div>
    <p>
        This project has been a personal effort of mine that originally set out to automatically redeem SHiFT codes for Borderlands games which I played a lot of and to better by 
        skills using python and its libraries.
    </p>
    <p>
        I originally ran everything on my local machine. I got my codes from <a href='https://twitter.com/dgSHiFTCodes' target="_blank" rel="noopener noreferrer">dgSHiFTCodes'</a> account using
        <a href='https://developer.twitter.com/en/docs/twitter-api' target="_blank" rel="noopener noreferrer">Twitter's API (v1)</a> by Streaming any tweets posted. The content of any tweet
        collected was parsed using regular expressions due to their consistent format. Information about the SHiFT code such as the code itself, reward, the game it is redeemable against, 
        if it is a universal code or platform specific, and other meta information is gathered and then
        stored in a sqlite3 database.
        I would select all codes from the database and using selenium I created a web crawler that would
        log into my gearbox account using a local .env file and iteratively input the codes on the <a href='https://shift.gearboxsoftware.com/rewards' target="_blank" rel="noopener noreferrer">Gearbox rewards site</a>.
        Each code would be redeemed either successfully, or an error code would be displayed and ignored whilst moving onto the next code.
    </p>
    <p>
        I found Streaming the tweets to be unnecessary for such a simple task. I discovered a <a href='https://shift.orcicorn.com/' target="_blank" rel="noopener noreferrer">web page</a>
        created by the same owner as the twitter account that archives all the codes they have collected. I scraped the site for available codes
        using a simple http request. I still parse the dgSHiFTCodes twitter account using Twitter API (v2) to get the most recent tweets.
        Both of these scripts are periodically run using a cron job to collect any recent codes.
    </p>
    <p>
        The more codes I gathered, the more complex of a tool this became and some issues developed. It became inefficient to iterate
        through so many codes. So I had to track which codes had been redeemed successfully or not based on the output displayed on the page 
        when redeeming the code. If a code was no longer available (e.g. the output was 'This code has expired') then the code is flagged
        as invalid and would not be selected when gathering available codes.
    </p>
    <p>
        Some other people were interested in this tool so I stored their encrypted gearbox information in a users table along with my information. From there, in different threads,
        for each user the available codes are attempted to be redeemed. When a code is successfully redeemed by a user a result is stored tracking which code is redeemed for which user. 
        This means you can determine how many codes a particular user has redeemed using this tool. 
    </p>
    <p>
        The next issue was that some people wanted to redeem codes on different platforms. So I had to track platform preferences for each user
        and redeem the code for the correct platform based on those preferences. Users can set their platform for each Borderlands game.
    </p>
    <p>
        I created an API using FastAPI to access the database information and interact with the Gearbox site, and an Angular frontend for displaying
        useful data returned from the API such as what codes were successfully redeemed for a user using this tool. Both the API and frontend 
        are dockerised and deployed using Github Actions to AWS.
    </p>
    <p>
        If you have any comments or questions you can contact me directly by email danielhsutton@gmail.com or you can
        <a href='#' (click)="openFeebackDialog()">submit feedback here</a>.
    </p>
    <p>
        This is not a finished project and I am still working out some issues when I can.
    </p>
        
    <h5>Tools:</h5>
    <ul>
        <li>FastAPI</li>
        <li>sqlite3</li>
        <li>Angular</li>
        <li>Selenium</li>
        <li>Docker</li>
        <li>AWS</li>
        <li>Twitter API</li>
    </ul>
</div>