<div class='header'>
        <div class="logo-container">
                <a mat-button routerLink="">SHiFT Redeemer</a>
            </div>
            
            <div class="links-container">
              <a mat-button routerLink="/codes" routerLinkActive="active-link">Codes</a>
              <a mat-button routerLink="/games" routerLinkActive="active-link">Games</a>
              <a mat-button disabled="true">About</a>
              <a mat-button disabled="true">Sign up/Login</a>
            </div>            

</div>
