<div class='header'>
  <div class="logo-container">
      <a mat-button routerLink="">SHiFT Redeemer</a>
  </div>
  
  <div class="links-container">
    <a *ngIf="user" mat-button routerLink="/codes" routerLinkActive="active-link">Codes</a>
    <a *ngIf="user" mat-button routerLink="/games" routerLinkActive="active-link">Games</a>  
    <a mat-button [disabled]="true">About</a>
    <a *ngIf="!user" mat-button routerLink="/login" routerLinkActive="active-link">Login</a>
    <button *ngIf="user" mat-button [matMenuTriggerFor]="menu">Hello {{user.email}}!</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]='true'>Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>      
</div>
