.user-games-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.user-game-item {
    width: 50%;
    padding: 10px 10px;
    float: left;
     > div {
        width: 100%;
    }
}

#user-games-table {
    width: 100%;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.radio-wrapper {
    display: block;
    padding: 0.5em 1em;
    img {
        min-width: 60px;
        min-height: 60px;
        max-width: 120px;
        max-height: 120px;
    }
}

img:hover {
    opacity:0.6;
    cursor: pointer;
    background-color: grey;
}
  
img:active {
    opacity:0.4;
    cursor: pointer;
}

:host ::ng-deep .mat-radio-container {
    display: none;
}
  
input[type=radio] {
    display: none;
}

input[type=radio]:checked ~ img{
    background-color: grey;
    border: 3px solid rgb(228, 207, 94);
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    button {
      margin: 0px 20px;
    }
  }

.form-group {
    display: flex;
}