mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  button {
    margin: 0px 30px;
  }
}

.button-success {
    background-color: green;
}

.button-failure {
    background-color: red !important; 
}

.form-group-wrapper {
  display: flex;
  margin-bottom:16px;
}

.form-group-wrapper .form-group{
  padding-left: 20px;
}

.form-row > h4 {
  padding-left: 20px;
  text-align: left;
  font-size: 14px;
}

#verify-gearbox {
  margin: 15px;
}

::ng-deep .mat-progress-spinner, .mat-spinner {
  margin-top: 8px;
  margin-left: 8px;
  circle {
    stroke: #ffffff !important;

  }
}
  

  ::ng-deep  .mat-button-wrapper {
  display: flex;
}