<h2><span class="give-me-space" style="text-align: center;">Register</span></h2>
<form id='register' class="align-middle" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field appearance="fill">
      <!-- <mat-label>Email</mat-label> -->
      <input matInput placeholder="Email" formControlName="email">
      <!-- <mat-icon matSuffix>email</mat-icon> -->
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
        <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
        <small *ngIf="f['email'].errors?.['email']">Email is not valid.</small>
    </div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
    <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
        <small *ngIf="f['password'].errors?.['required']">Password is required.</small>
        <small *ngIf="f['password'].errors?.['minlength']">Password must be {{f['password'].errors?.['minlength'].requiredLength}} characters.</small>
    </div>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Gearbox email" type="text" formControlName="gearbox_email">
    </mat-form-field>
    <div *ngIf="f['gearbox_email'].touched && f['gearbox_email'].invalid" class="alert alert-danger">
        <small *ngIf="f['gearbox_email'].errors?.['email']">Email is not valid.</small>
    </div>
    <div *ngIf="f['gearbox_email'].touched && f['gearbox_email'].dirty" class="alert alert-danger">
        <small>Enter email to verify.</small>
    </div>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Gearbox password" type="text" formControlName="gearbox_password">
    </mat-form-field>
    <div *ngIf="f['gearbox_password'].touched && f['gearbox_password'].dirty" class="alert alert-danger">
        <small>Enter password to verify.</small>
    </div>


    <button type="button" [ngClass]="validateSuccess != null ? validateSuccess ? 'button-success' : 'button-failure' : ''" mat-raised-button (click)='verifyGearbox()' [disabled]='gearboxFormValid === true'>
        {{ validateSuccess != null ? validateSuccess ? 'Verified!' : 'Invalid Gearbox details' : 'Verify' }}
        <mat-icon>
            <mat-spinner *ngIf='gearboxSubmitted' diameter="20"></mat-spinner>
        </mat-icon>
    </button>

    <div class='button-container'>
        <button mat-button type="button" (click)='back()' class="btn btn-primary">Back</button>
        <button mat-button type="submit" form="register" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
    </div>
</form>
