<mat-card>
    <mat-card-content>    
        <form id='updatePassword' class="align-middle" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
            <h4>Update Password</h4>

            <div class='form-row'>               
              
                <div class="form-group-wrapper">
                    <!-- New Password -->
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Old Password</mat-label>
                            <input matInput type="password" placeholder="********" formControlName="old_password">
                        </mat-form-field>
                    </div>

                    <!-- New Password -->
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>New Password</mat-label>
                            <input matInput [type]="fieldTextType ? 'text' : 'password'" placeholder="********" formControlName="new_password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                    class="fa"
                                    [ngClass]="{
                                      'fa-eye-slash': !fieldTextType,
                                      'fa-eye': fieldTextType
                                    }"
                                    (click)="toggleFieldTextType()"></i>                                
                                </span>
                             </div>
                        </mat-form-field>
                        <div *ngIf="f['new_password'].touched && f['new_password'].errors?.['pattern']" class="alert alert-danger">
                            <small>
                                Password must contain at least one number, one uppercase and a
                                lowercase letter and at least 8 characters and cannot
                                contain whitespace
                            </small>
                        </div>
                    </div>

                    <!-- New Password COnfirm -->
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="repeatFieldTextType ? 'text' : 'password'" placeholder="********" formControlName="new_password_confirm">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                  <i
                                    class="fa"
                                    [ngClass]="{
                                      'fa-eye-slash': !repeatFieldTextType,
                                      'fa-eye': repeatFieldTextType
                                    }"
                                    (click)="toggleRepeatFieldTextType()"
                                  ></i>
                                </span>
                              </div>
                        </mat-form-field>
                        <div *ngIf="f['new_password_confirm'].touched && f['new_password_confirm'].errors?.['mustMatch']" class="alert alert-danger">
                            <small>Passwords do not match.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <button mat-raised-button type="submit" color="primary" form="updatePassword" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>