.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

.form-group-wrapper {
    display: flex;
    margin-bottom:16px;
  }
  
  .form-group-wrapper .form-group{
    padding-left: 20px;
  }
  
  .form-row > h4 {
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
  }

  .input-group-text {
    background-color: transparent;
    border: none;
    padding: 0rem 0.75rem;
    font-size: 1rem;
    line-height: 0.8;
}

::ng-deep .mat-form-field-infix {
    display: flex !important;
}