<h2>User Games</h2>
 
<div class="user-games-container">
  <table id="user-games-table" mat-table [dataSource]="userGames" class="mat-elevation-z8 base-table">
    <ng-container matColumnDef="game">
      <th mat-header-cell *matHeaderCellDef> Game </th>
      <td mat-cell *matCellDef="let userGame">{{userGame.game}} </td>
    </ng-container>

    <ng-container matColumnDef="platform">
      <th mat-header-cell *matHeaderCellDef> Platform </th>
      <td mat-cell *matCellDef="let userGame"> {{userGame.platform}} </td>
    </ng-container>

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let userGame; let i = index">
          <button mat-button (click)="deleteUserGame(i, userGame._id)" class="btn btn-primary">X</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="userGameColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: userGameColumns;"></tr>
  </table>
</div>
